body {
  background: linear-gradient(to right, #4e0066, #12002e);
  color: white;
  font-family: 'Segoe UI', sans-serif;
  text-align: center;
  padding: 50px 20px;
}

.logo {
  width: 150px;
  border-radius: 50%;
  margin-bottom: 20px;
  animation: pop 1s ease-out;
}

@keyframes pop {
  0% { transform: scale(0.5); opacity: 0; }
  100% { transform: scale(1); opacity: 1; }
}

.container {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 40px;
  border-radius: 20px;
  display: inline-block;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
}

h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
}

p {
  font-size: 1.2em;
  margin-bottom: 30px;
}

.whatsapp-btn {
  background-color: #25D366;
  color: white;
  padding: 12px 25px;
  text-decoration: none;
  border-radius: 30px;
  font-size: 1.1em;
  transition: background 0.3s ease;
}

.whatsapp-btn:hover {
  background-color: #1DA851;
}
.instagram-btn {
  background-color: #e4405f;
  color: white;
  padding: 12px 25px;
  text-decoration: none;
  border-radius: 30px;
  font-size: 1.1em;
  margin-top: 10px;
  display: inline-block;
  transition: background 0.3s ease;
}

.instagram-btn:hover {
  background-color: #c23252;
}
